table{
  width: 95%;
  padding: 0;
}
th,td{
  width: 30%;
  font-weight: 300;
  font-size: 13px;
  text-align: left;
  padding: 0 15px;
}
th:nth-child(2),td:nth-child(2){
  width: 40%;
}
table tr{
  height: 23px;
}
table tr img{
  width: 16px;
  height: 16px;
  vertical-align: bottom;
  margin-left: 5px;
}
table tr:nth-child(odd){background:rgba(14, 63, 93, 0.69);}
