.my-drawer {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar .am-list {
  width: 300px;
  padding: 0;
}
.am-navbar{
    height: 65px;
    padding-top: 20px;
}
.crumbsTitle{
    padding: 0px 0 0px 15px;
    color: #000;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    height: 28px;
    font-weight: bolder;
    position: relative;
}
